.root {
    background-color: lightblue;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.inputarea {
    position: relative;
}

h1 {
    position: absolute;
    bottom: 100%;
    left: 0;
}

